.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mic_container {
  display: flex;
  flex-direction: column;
  /* border:1px solid rgb(145, 143, 143); */
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.speak {
  font-size: 10px; /* Change this value to your desired size */
  color: black; /* Optional: Change text color if needed */
  margin: 10px 0;
}
.speaker {
  font-size: 20px;
  cursor: pointer;
}
.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.imageComponent {
  width: 90%;
  height: 90vh;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.heading {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 62px;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 10px #333;
}

.imageComponent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.homePagePara {
  position: absolute;
  width: 30%;
  top: 30%;
  left: 5%;
  color: rgba(128, 128, 128, 0.744);
  display: inline-block;
}

.chatButton {
  position: absolute;
  top: 50%;
  left: 38%;

  z-index: 5;
}
.navigateButtons {
  padding: 5px 20px;
  background-color: rgb(153, 23, 235);
  border-radius: 30px;
  font-size: 32px;
  color: greenyellow;
  font-weight: 700;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

.datasetGen {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datasetfromdesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
  background-color: #333;
  padding: 12px 12px;
  margin-top: 20px;
  border-radius: 12px;
}

.datasetfromdeschead {
  color: white;
  font-size: 32px;
}

.datasetgenform {
  display: flex;
  flex-direction: column;
}

.datasetgeninput {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.datasetgeninput input {
  padding: 6px 6px;
  width: 380px;
  border-radius: 6px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addmorebutton {
  background-color: rgba(12, 89, 245, 0.982);
  width: 150px;
  padding: 5px 5px;
  color: white;
  border-radius: 6px;
  margin-top: 20px;
}

.submitbutton {
  background-color: rgba(16, 245, 12, 0.982);
  width: 150px;
  padding: 5px 5px;
  color: white;
  border-radius: 6px;
  margin-top: 20px;
}

.sizeInputBox {
  padding: 6px 6px;
  width: 380px;
  border-radius: 6px;
  border-bottom: 1px solid white;
}
